@import '../scss/globals/all';
@import '../scss/base';

// :global {
// }

.app {
  color: $color-text;
}
.total {
  font-size: 48px;
}
.transactionTools {
  display: flex;

  .tool {
    margin: 10px;
  }
}
