
// Colours
$color-black:         #000 !default;
$color-white:         #FFF !default;
$color-text:          #333 !default;
$color-text--light:   #666 !default;
$color-text--invert:  #FFF !default;
$color-bg:            #FFF !default;
$color-bg--invert:    #333 !default;
$color-outgoing:      #D3545E !default;
$color-incoming:      #7DBC82 !default;
